.category-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-title > p {
  font-size: .7em;
  padding-left: 2px;
  padding-top: 3px;
}

.category-title > h3 {
  margin: 5px;
}

.options-container {
  padding-left: 10px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.radio label {
    width: 5px;
    height: 5px;
    border: solid 2px #888;
    border-radius: 50%;
    display: block;
    padding: 2px;
    margin: 5px;
  }

.check label {
  width: 5px;
  height: 5px;
  border: solid 2px #888;
  display: block;
  padding: 2px;
  margin: 5px;
}

.item-name {

}

label span {
  display: none;
}

input[type='radio'] {
  display: none;
}

input[type="radio"]:checked+label {
  border-color: orange;
}

input[type='checkbox'] {
  display: none;
}

input[type="checkbox"]:checked+label {
  border-color: orange;
}
