.receipt {
  padding: 10px;
  max-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  grid-column-start: 3;
  grid-row-start: 2;
}

.receipt > h3 {
  margin-bottom: 2px;
}

.price {
  text-align: right;
  padding-top: 10px;
}

#order-title-underline {
  height: 3px;
  width: 150px;
  background-color: #552305;
}

#subtotal-line {
  height: 1px;
  width: 150px;
  margin-left: auto;
  margin-right: 0;
  background-color: #7DA0B4;
}
